@import url('../../styles/reset.css');

body {
    background-color: #151522;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.container {
    height: 80vh;
    width: 80vw;
    position: relative;
}

canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

.title {
    position: absolute;
    font-size: 30px;
    background-color: transparent;
    color: rgba(247, 110, 206, 0.829);
    top: 38%;
    right: 50%;
    transform: translate(46%, 50%);
}
