html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #000;
}

.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}

.title {
  position: absolute;
  font-size: 30px;
  background-color: transparent;
  color: rgba(247, 110, 206, 0.829);
  top: 46%;
  right: 50%;
  transform: translate(46%, 50%);
}
